.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex; /* Convierte al contenedor en un contenedor flex */
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
}

.card.card-primary.card-outline {
  flex: 1; /* Cada tarjeta toma un espacio igual en el contenedor */
  border: 1px solid #ddd;
  padding: 10px;
}


